label{
    font-weight: bold;
}

h1{
    text-transform: capitalize;
}

.card{
    margin: 0 auto;
    width: fit-content;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.1);
}

img{
    border-radius: 100%;
}